@model QLNS.TAI_KHOAN

@{
    ViewBag.Title = "Đổi mật khẩu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-section">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Đổi mật khẩu</h2>
            </div>
            <div class="d-flex p-1">
                <a class="btn btn-outline-info ms-1 d-flex align-items-center" href="/"><i class="fa-solid fa-arrow-left p-1"></i> Trở về</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="col col-form">
            @if (ViewBag.error != null)
            {<div class="alert alert-danger">@ViewBag.error</div>}
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-outline mb-3">
                    @Html.TextBoxFor(m => Model.USERNAME,
                        new
                        {
                            @class = "form-control form-control-lg",
                            @type = "text",
                            @placeholder = "Tài khoản",
                            @readonly = true
                        })
                </div>
                <div class="form-outline mb-3">
                    @Html.TextBoxFor(m => Model.PASSWORD,
                        new
                        {
                            @class = "form-control form-control-lg",
                            @type = "password",
                            @placeholder = "Mật khẩu",
                            @autocomplete = false,
                            @required = true,
                        })
                    @Html.ValidationMessageFor(m => Model.PASSWORD, "", new { @class = "text-danger" })
                </div>
                <div class="form-outline mb-3">
                    <input class="form-control form-control-lg" type="password" placeholder="Nhập lại mật khẩu" name="REPASSWORD" required />
                </div>
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg btn-block">Đổi mật khẩu</button>
                </div>
            }
        </div>
    </div>
</section>
