@model IEnumerable<QLNS.HOA_DON>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MA_HD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MA_NV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NGAY_LAP)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.MA_HD)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MA_NV)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NGAY_LAP)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
