@model IEnumerable<QLNS.SACH>
@using QLNS.Models;
@using QLNS.Code;

@{
    ViewBag.Title = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-products">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Giỏ hàng</h2>
            </div>
            <a href="/Sale" class="text-decoration-none d-flex align-items-center"><i class="fas fa-long-arrow-alt-left me-2"></i>Tiếp tục mua hàng</a>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="row justify-content-center text-center">
            @{
                double total = 0;
                List<CartItem> listCart = (List<CartItem>)Session["ShoppingCart"];
            }
            @if (listCart != null && listCart.Count > 0)
            {
                foreach (var item in (List<CartItem>)Session["ShoppingCart"])
                {
                    <div class="card rounded-3 mb-3">
                        <div class="card-body p-3">
                            <div class="row d-flex justify-content-between align-items-center">
                                <div class="col-md-2 col-lg-2 col-xl-2">
                                    @if (item.SachOrder.ANH_BIA != null)
                                    {<img src="@Url.Content("~/Assets/img/book/"+item.SachOrder.ANH_BIA)" class="img-fluid rounded-3" /> }
                                    else
                                    { <img src="@Url.Content("~/Assets/img/book/default.jpg")" class="img-fluid rounded-3" />}
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3">
                                    <p class="lead fw-normal mb-2">@item.SachOrder.TEN_SACH</p>
                                    <p><span class="text-muted">Tác giả: </span>@item.SachOrder.TAC_GIA</p>
                                    <p><span class="text-muted">Giá bán: </span>@decimal.Round((decimal)(@item.SachOrder.DON_GIA.OrderByDescending(e => e.MA_DG).DefaultIfEmpty().First().SO_TIEN), 0, MidpointRounding.AwayFromZero).ToString("#.### ₫")</p>
                                </div>
                                <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                                    <input type="text" value="@item.Quantity" id="Quality" class="text-center" txt-id="@item.SachOrder.MA_SACH" />
                                    <input type="submit" value="Cập nhật" class="btn btn-warning ms-1" id="Update" onclick="UpdateCart('@item.SachOrder.MA_SACH')" />
                                    <br><span id="Error" txt-id="@item.SachOrder.MA_SACH"></span>
                                </div>
                                <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                                    <p><span class="text-muted">Thành tiền</span></p>
                                    @{ double sum = item.SumPrice();
                                        total += sum;
                                    }
                                    <h5 class="mb-0" id="Price" txt-id="@item.SachOrder.MA_SACH">@sum.ToString("#.### ₫")</h5>
                                </div>
                                <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                                    @using (Html.BeginForm("RemoveCart", "Sale", FormMethod.Post, new { id = "Delete" + item.SachOrder.MA_SACH }))
                                    {
                                        <input type="hidden" value="@item.SachOrder.MA_SACH" name="id" id="id" />
                                        <button type="submit" class="btn btn-outline-danger d-flex align-items-center" onclick="return submitResult(event,@item.SachOrder.MA_SACH,'Sản phẩm')">
                                            <i class="fa-solid fa-x"></i>
                                        </button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>

                }
                <div class="mb-4 cart-total">
                    <h3 id="Total">Tổng tiền: @total.ToString("#.### ₫")</h3>
                </div>
                <div class="d-flex justify-content-center">
                    @using (Html.BeginForm("Payment", "Sale", FormMethod.Post, new { id = "Payment" }))
                    {
                        <input type="hidden" value="@total" name="Total" id="Total" />
                        <button type="button" class="btn btn-danger btn-block btn-lg" onclick="return payResult(event)">Thanh toán</button>
                    }
                </div>
            }
            else
            {
                <div class="card">
                    <div class="card-body">
                        <p class="lead fw-normal mb-2">Không có sản phẩm nào trong giỏ hàng</p>
                        <a href="/Sale" class="text-decoration-none d-flex align-items-center"><i class="fas fa-long-arrow-alt-left me-2"></i>Trở về trang sản phẩm</a>
                    </div>
                </div>
            }
        </div>
    </div>
</section>