@model PagedList.IPagedList<SACH>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-products">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Quản lý sách</h2>
            </div>
            <div class="control-button">Tìm kiếm</div>
            <div class="control-button text-success">
                <a class="control-link text-success" href="/Book/Create">
                    <i class="fa-sharp fa-solid fa-plus"></i>Thêm</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div id="book-1" class="single-product">
                        <div class="part-1">
                            @if (item.ANH_BIA != null)
                            {
                                <img src="@Url.Content("~/Assets/img/book/"+item.ANH_BIA)" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Assets/img/book/default.jpg")" />
                            }
                            <ul>
                                <li><a href="@Url.Action("Details","Product", new { id = item.MA_SACH })"><i class="fas fa-expand"></i></a></li>
                                <li><a onclick="AddToCart('@item.MA_SACH')"><i class="fas fa-minus"></i></a></li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">@Html.DisplayFor(modelItem => item.TEN_SACH)</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex flex-row-reverse">
            <div>
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page }))
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            <div class="p-2">
                <div> Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount</div>
            </div>
        </div>
    </div>
</section>