@model IEnumerable<QLNS.THE_LOAI>

@{
    ViewBag.Title = "Thể loại";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="page-section">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Quản lý thể loại</h2>
            </div>
            <div class="d-flex p-1">
                <a class="btn btn-outline-success ms-1" href="@Request.Url.AbsolutePath/Create">Thêm</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="row border-dark">
            <table class="table table-hover">
                <tr>
                    <th><h5>Mã thể loại</h5></th>
                    <th><h5>Tên thể loại</h5></th>
                    <th><h5>Công cụ</h5></th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.MA_TL)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TEN_TL)
                        </td>
                        <td class="d-flex align-items-center">
                            <a class="tool" data-toggle="tooltip" title="Sửa thông tin" href="@Request.Url.AbsolutePath/Edit/@item.MA_TL"><i class="fa-regular fa-pen-to-square"></i></a>
                            @using (Html.BeginForm("Delete", "Details", FormMethod.Post, new { id = "Delete" + item.MA_TL }))
                            {
                                @Html.AntiForgeryToken()
                                <input type="hidden" value="@item.MA_TL" name="id" id="id" />
                                <a role="button" class="tool" onclick="return submitResult(event,'@item.MA_TL','Thể loại')"><i class="fa-solid fa-trash"></i></a>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
</section>