@model QLNS.SACH

@{
    ViewBag.Title = "Thêm sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Thêm sách mới</h2>
            </div>
            <div class="d-flex p-1">
                <a class="btn btn-outline-info ms-1 d-flex align-items-center" href="/"><i class="fa-solid fa-arrow-left p-1"></i> Trở về</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        @if (ViewBag.error != null)
        {<div class="alert alert-danger">@ViewBag.error</div>}
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @using (Html.BeginForm("Create", "Book", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="row g-0">
                <div class="col">
                    <div class="form-group align-content-center">
                        <label>Mã Sách</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.MA_SACH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.MA_SACH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tên Sách</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TEN_SACH, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TEN_SACH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Ảnh bìa</label>
                        <div class="form-group align-content-center">
                            <img src="~/Assets/img/book/default.jpg" width="300" height="300" class="rounded mx-auto d-block" />
                        </div>
                    </div>
                    <div class="form-group text-center" id="UP_ANH_BIA">
                        <div class="row align-items-center">
                            <div class="col"></div>
                            <div class="col-6">
                                <label for="fileUpload" class="form-label">Tải lên ảnh bìa</label>
                                <input class="form-control" type="file" id="fileUpload" name="fileUpload">
                            </div>
                            <div class="col"></div>
                        </div>
                    </div>
                </div>

                <div class="col align-items-center">
                    <div class="form-group">
                        <label>Dạng Sách</label>
                        <div class="col-md-10">
                            @Html.DropDownList("MA_DS", (IEnumerable<SelectListItem>)ViewBag.Types, "Chọn dạng sách", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MA_DS, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Thể loại Sách</label>
                        <div class="col-md-10">
                            @Html.DropDownList("MA_TL", (IEnumerable<SelectListItem>)ViewBag.Genres, "Chọn thể loại", new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MA_TL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Giá bán</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.GIA_BAN, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.GIA_BAN, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Tác Giả</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TAC_GIA, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TAC_GIA, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Nhà Xuất Bản</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.NHA_XB, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NHA_XB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Năm Xuất Bản</label>
                        <div class="col-md-10">
                            @Html.TextBoxFor(model => model.NAM_XB, new { @type = "date", @class = "form-control datepicker" })
                            @Html.ValidationMessageFor(model => model.NAM_XB, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Số lượng tồn</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.SOLUONG, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.SOLUONG, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Mô Tả Sách</label>
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.MO_TA_SACH, new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.MO_TA_SACH, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group mt-3">
                        <button class="btn btn-danger btn-block btn-lg gradient-custom mb-3" type="submit" id="Edit_Button">THÊM SÁCH</button>
                    </div>
                </div>
            </div>
        }
    </div>
</section>

