@model PagedList.IPagedList<SACH>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Sách";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="section-products">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Quản lý sách</h2>
            </div>
            <div class="d-flex">
                @using (Html.BeginForm("SearchBook", "Book", FormMethod.Post, new { @class = "d-flex" }))
                {
                    @Html.AntiForgeryToken()
                    <input type="text" class="form-control" placeholder="Tìm kiếm" name="term" />
                    <button class="btn btn-outline-success ms-1" type="submit">Tìm</button>

                }
                <a class="btn btn-outline-success ms-1 thembtn" href="/Book/Create">Thêm</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-md-6 col-lg-4 col-xl-3">
                    <div data-aos="zoom-in" class="single-product">
                        <div class="part-1">
                            @if (item.ANH_BIA != null)
                            {
                                <img src="@Url.Content("~/Assets/img/book/"+item.ANH_BIA)" />
                            }
                            else
                            {
                                <img src="@Url.Content("~/Assets/img/book/default.jpg")" />
                            }
                            <ul>
                                <li><a href="@Url.Action("Details","Book", new { id = item.MA_SACH })"><i class="fas fa-expand"></i></a></li>
                                <li>
                                    @using (Html.BeginForm("Delete", "Book", FormMethod.Post, new { id = "Delete" + item.MA_SACH }))
                                    {
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" value="@item.MA_SACH" name="id" id="id" />
                                        <a role="button" class="tool" onclick="return submitResult(event,'@item.MA_SACH','Sách')"><i class="fa-solid fa-trash"></i></a>
                                    }
                                </li>
                            </ul>
                        </div>
                        <div class="part-2">
                            <h3 class="product-title">@Html.DisplayFor(modelItem => item.TEN_SACH)</h3>
                        </div>
                    </div>
                </div>
            }
        </div>
        <div class="d-flex flex-row-reverse">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       DisplayLinkToIndividualPages = true,
       DisplayPageCountAndCurrentLocation = false,
       MaximumPageNumbersToDisplay = 3,
       LiElementClasses = new string[] { "pagination-item" }
   })
        </div>
    </div>
</section>