@model IEnumerable<QLNS.NHA_CUNG_CAP>

@{
    ViewBag.Title = "Nhà cung cấp";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="page-section">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Quản lý nhà cung cấp</h2>
            </div>
            <div class="d-flex p-1">
                <a class="btn btn-outline-success ms-1" href="/Supplier/Create">Thêm</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="row border-dark">
            <table class="table table-hover">
                <tr>
                    <th><h5>Mã nhà cung cấp</h5></th>
                    <th><h5>Tên nhà cung cấp</h5></th>
                    <th><h5>Địa chỉ</h5></th>
                    <th><h5>Thông tin liên lạc</h5></th>
                    <th><h5>Tổng nhập</h5></th>
                    <th><h5>Công cụ</h5></th>
                </tr>
                @foreach (var item in Model)
                {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.MA_NCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TEN_NCC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DIACHI)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LIENLAC)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TONG_NHAP)
                </td>
                <td class="d-flex align-items-center">
                    <a class="tool" data-toggle="tooltip" title="Sửa thông tin" href="/Supplier/Edit/@item.MA_NCC"><i class="fa-regular fa-pen-to-square"></i></a>
                    @using (Html.BeginForm("Delete", "Supplier", FormMethod.Post, new { id = "Delete" + item.MA_NCC }))
                    {
                        @Html.AntiForgeryToken()
                        <input type="hidden" value="@item.MA_NCC" name="id" id="id" />
                        <a role="button" class="tool" onclick="return submitResult(event,'@item.MA_NCC','Nhà cung cấp')"><i class="fa-solid fa-trash"></i></a>
                    }
                </td>
            </tr>
                }
            </table>
        </div>
    </div>
</section>
