@model PagedList.IPagedList<QLNS.NHAN_VIEN>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Nhân viên";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script>
    function submitResult(e, id) {
        e.preventDefault();
        Swal.fire({
            title: 'Xác nhận',
            text: "Xóa nhân viên này?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xác nhận!',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                Swal.fire(
                    'Đã xóa!',
                    'Nhân viên đã được xoá.',
                    'success'
                ).then((result) => document.getElementById("Delete" + id).submit())
            }
        })
    }
</script>

<section class="page-section">
    <div class="container">
        <div class="d-flex">
            <div class="flex-grow-1">
                <h2>Quản lý nhân viên</h2>
            </div>
            <div class="d-flex p-1">
                <a class="btn btn-outline-success ms-1" href="/Staff/Create">Thêm</a>
            </div>
        </div>
        <div class="row m-3 border-bottom border-info"></div>
        <div class="list-container">
            <div class="list-custom">
                <ul>
                    @foreach (var item in Model)
                    {
                        <li>
                            <div class="item-custom">
                                <div class="custom-item-image">
                                    <div class="custom-item-img">
                                        <img src="~/Assets/img/staff.png">
                                    </div>
                                </div>
                                <div class="custom-item-info">
                                    <div class="custom-item-content">
                                        <h3>@Html.DisplayFor(modelItem => item.TEN_NV)</h3>
                                        @if (item.MA_NV.Contains("NV"))
                                        {<p>Nhân viên</p>}
                                        @if (item.MA_NV.Contains("QTV"))
                                        {<p>Quản trị viên</p>}
                                        @if (item.MA_NV.Contains("QL"))
                                        {<p>Quản lý</p>}
                                        @if (item.MA_NV.Contains("CCH"))
                                        {<p>Chủ cửa hàng</p>}
                                    </div>
                                    <div class="custom-item-footer">
                                        <div class="custom-item-contact">
                                            <div class="custom-item-address">
                                                <i class="fa-sharp fa-solid fa-location-dot"></i>
                                                <p>@Html.DisplayFor(modelItem => item.NOI_SONG)</p>
                                            </div>
                                            <div class="custom-item-phone">
                                                <i class="fa-solid fa-phone"></i>
                                                <p>@Html.DisplayFor(modelItem => item.SDT)</p>
                                            </div>
                                        </div>
                                        <div class="custom-item-button">
                                            <a class="tool" data-toggle="tooltip" title="Sửa thông tin" href="/Staff/Edit/@item.MA_NV"><i class="fa-regular fa-pen-to-square"></i></a>
                                            @if (item.TAI_KHOAN.Count != 1)
                                            {<a class="tool" href="/Auth/Create/@item.MA_NV" data-toggle="tooltip" title="Tạo tài khoản"><i class="fa-regular fa-id-card"></i></a>}
                                            @using (Html.BeginForm("Delete", "Staff", FormMethod.Post, new { id = "Delete" + item.MA_NV }))
                                            {
                                                @Html.AntiForgeryToken()
                                                <input type="hidden" value="@item.MA_NV" name="id" id="id" />
                                                <a role="button" class="tool" onclick="return submitResult(event,'@item.MA_NV')"><i class="fa-solid fa-trash"></i></a>
                                            }
                                    </div>
                                </div>
                            </div>
                        </li>
                    }
                </ul>
            </div>
        </div>
        <div class="d-flex flex-row-reverse">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page }), new PagedListRenderOptions
   {
       DisplayLinkToIndividualPages = true,
       DisplayPageCountAndCurrentLocation = false,
       MaximumPageNumbersToDisplay = 3,
       LiElementClasses = new string[] { "pagination-item" }
   })
        </div>
    </div>
</section>
